// global


.recommendation
	width: 1000px
	max-width: 90%
	margin: 0 auto
	background: pink

	header
		padding: 3em
		display: flex
		justify-content: space-between
		h1, p 
			margin: 0
	.wrapper
		background: navy
		display: flex	
